.navbar {
  background-color: #000;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 20;
  max-height: 0.5rem;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
}
.nav-logo {
  color: red;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  text-decoration: none;
  font-family: sandoval;
  font-size: 3rem;
  flex-grow: 1
}
.nav-menu {
  display: flex;
  background-color: black;
  list-style: none;
  text-align: center;
  margin-right: 1rem
}
.nav-links {
  color: #fff;
  background-color: black;
  text-decoration: none;
  display: flex;
  height: 100%;
  border-bottom: 3px solid transparent;
  border: 1px solid red;
  border-radius: 1rem;
  font-family: 'Open', sans-serif;
  font-weight: 570;
  letter-spacing: 1px;
}
.fa-code {
  margin-left: 1rem
}
.nav-item {
  line-height: 40px;
  margin-right: 1rem
}
.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: 0 0;
  transition: width .7s ease,background-color .5s ease
}
.nav-item:hover:after {
  width: 100%;
  background: #ffdd40
}
.nav-item .active {
  color: red;
  border: 1px solid #ffdd40
}
.nav-icon {
  display: none
}
@media screen and (max-width:960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 68%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 37px;
    background-color: black;
    left: -110%;
    opacity: 1;
    transition: all .5s ease
    
  }
  .nav-menu.active {
    background: 0 0;
    left: 199;
    opacity: 1;
    transition: all .5s ease;
    z-index: 1;


  }
  .nav-item .active {
    color: #ffdd40;
    border: none
  }
  .nav-links {
    padding: .2rem;
    width: 50%;
    display: table;

  }
  .nav-icon {
    display: block;
    padding-top: 0rem;
    position: absolute;
    top: -4;
    right: -17;
    transform: translate(-100%,60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff
  }
}