:root {
  --color-1: #186cb8;
  --color-2: red;
  --color-4: #f1b211;
  --color-3: #027b9a;
  --color-5: #000
}


#stodlinjen {
  padding-top: 1rem;
  padding-left: .98rem
}
#spelpaus {
  padding-top: 1rem
}
#ansvarsfullt {
  padding-left: 10px
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  height: 4rem
}
body {
  background-color: black;
  transition: background-color .3s
}
h1,
h2,
h4 {
  color: red;
  padding: 1rem
}
p {
  color: #fff
}





.masthead {
  font-family: Cabin,Helvetica Neue,Helvetica,Arial,sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 60%
}


a {
  transition: all .2s ease-in-out;
  color: #fff
}
a:focus,
a:hover {
  text-decoration: none;
  color: red
}
footer p {
  font-size: 1.5rem;
  margin: 0;
  text-align: left;
  max-width: 100%;
  top: 1rem
}
.link-buttons {
  display: flex;
  justify-content: space-around;
  max-width: 40%;
  padding-left: 3px;
  padding-top: 1.5rem;
  background-color: transparent
}


.footer-responsibility {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.7rem
}
.slideshow-container {
  max-width: 280px;
  max-inline-size: 350px;
  max-block-size: 350px;
  position: relative;
  margin: auto
}
.col-8 {
  position: relative;
  width: 100%;
  max-height: 90%;
  min-height: 80%;
  padding-right: 15px;
  padding-left: 15p;
  border-radius: 1rem;
  box-shadow: #000
}

.navbar-logo {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 4rem;
  display: flex;
  margin-bottom: 0;
  margin-left: 1rem;
  border: 3px solid red
}
@media (min-width:576px) {
  .slideshow-container {
    max-width: 540px
  }

}
.Media {
  font-size: 2rem;
  font-family: Sandoval;
  letter-spacing: .4rem;
  border-bottom: 2px solid rgb(255, 255, 255);
  text-transform: uppercase;
  color: gold
}
@media (min-width:768px) {
  .slideshow-container {
    max-width: 800px
  }
  #pic {
    position: relative;
    max-height: 20.5rem;
    min-height: 20.5rem;
    max-width: 90%;
    min-width: 90%
  }
}
@media (min-width:992px) {

  
  .slideshow-container {
    max-width: 800px
  }

.ticker{
  position: sticky;
  

}

  #pic {
    position: relative;
    max-height: 20.5rem;
    min-height: 20.5rem;
    max-width: 90%;
    min-width: 90%
  }
  .footer-responsibility {
    display: flex;
    flex-direction: row;
    width: 50%
  }
  #ansvarsfullt {
    margin-top: 1rem
  }
  .header2 {
    z-index: 20002
  }
  .footer {
    position: sticky;
    display: flex;
    color: red;
    padding-top: .8rem;
    margin-top: -20rem;
    margin-bottom: -10rem;
    width: auto;
    border-top: 1px solid red;
    background-image: transparent;
    justify-content: space-evenly
  }
  .navbar-logo {
    max-width: 15rem;
    max-height: 15rem;
    border-radius: rem;
    display: flex;
    align-items: start
  }
  .navbar-brand {
    display: inline-block;
    padding-top: 2.3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-left: -1rem;
    margin-right: 1rem
  }
}
@media (min-width:1500px) {
  .navbar-brand {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-left: -10rem;
    margin-right: 1rem
  }
}

.svenska-button:hover {
  transform: scale(1.019)
}
.atg-button:hover {
  transform: scale(1.019)
}
.adress {
  font-size: small
}

.headertext {
  color: #000;
  padding-top: 10rem;
  font-size: 1.4rem;
  margin-top: -10rem
}
.system {
  color: #fff;
  font-family: sandoval;
  padding-top: 8rem;
  font-size: 1rem;
  padding-bottom: 0;
  margin-top: -7rem;
  letter-spacing: .4rem;
  text-transform: uppercase
}
@media (max-width:576px) {
  .feed{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    
    }
  
  .ossom {
    border-bottom: 2px solid rgb(255, 255, 255);
    color: gold;
    font-family: sandoval;
    letter-spacing: .4rem;
    font-size: 1.5rem;
    text-transform: uppercase
  }
  #about {
    margin-bottom: 11rem
  }
  .logga2 {
    margin-top: -9rem;
    margin-bottom: 1rem;
    width: 320px
  }
  .andelsbaren {
    font-family: sandoval;
    font-style: italic;
    letter-spacing: .3rem;
    text-transform: uppercase;
    color: #fff;
    padding-top: 11rem;
    font-size: 2rem
  }
  .logga {
    width: opx;
    height: 0
  }
  .header2 {
    margin-top: 6rem;
    border-bottom: 2px solid red
  }
  .rubrik {
    font-family:sandoval;
    font-size: 24px;
    color: #fff;
    margin-top: -13rem;
    padding-bottom: .5rem
  }
  .footer2 {
    position: sticky;
    display: flex;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    color: red;
    width: auto;
    border-top: 2px solid #fff;
    background-image: transparent;
    justify-content: center;
    align-items: baseline
  }
  .svenska-button {
    width: 9rem;
    margin-top: -4rem
  }
  .atg-button {
    width: 6rem;
    margin-top: -5rem
  }
  .atg-button:hover {
    transform: scale(1.15)
  }
  .hr2 {
    border: 1px solid rgb(255, 255, 255);
    width: 18rem
  }
  .hr1 {
    border: 1px solid rgb(255, 255, 255);
    width: 100%
  }
  .sam {
    height: 100%;
    padding-top: 2.5rem;
    border-radius: 3rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem
  }
  .omoss {
    font-size: 16px
  }
  #contact {
    font-family: Sandoval;
    padding-bottom: 12rem;
    margin-bottom: -3rem;
    text-transform: uppercase;
    background: radial-gradient(circle at 1.4% 1.4% ,var(--color-5) 3%,transparent 40%),radial-gradient(circle at 5.5% 3%,var(--color-2) 40% ,transparent 75%),radial-gradient(circle at 2.5% 3.5%,var(--color-2) 25% ,transparent 45%)
  }
}
@media (min-width:768px) {
  .feed{
    display: flex;
    margin-top: 7rem;
    justify-content: center;
    
    }
  .hr1 {
    border: 1px solid red;
    width: 45rem
  }
}
@media (min-width:992px) {
  .feed{
    display: flex;
    margin-top: 12rem;
    justify-content: center;
    
    }
  .svenska-button {
    width: 14rem;
    margin-top: -4rem;
    margin-right: -25rem
  }
  .svenska-button:hover {
    transform: scale(1.15)
  }
  .atg-button {
    width: 10rem;
    margin-top: -5.5rem
  }
   .atg-button:hover {
    transform: scale(1.15)
  }
  .logga {
    height: 8rem;
    width: 8rem
  }
  .ossom {
    border-bottom: 2px solid #000;
    color: gold;
    font-family: sandoval;
    letter-spacing: .4rem;
    font-size: 2.5rem;
    text-transform: uppercase
  }
  .rubrik {
    font-family: Sandoval;
    font-size: 44px;
    color: #fff
  }
  #contact {
    font-family: sandoval;
    padding-bottom: 43rem;
    margin-bottom: 20rem;
    text-transform: uppercase;
    background: radial-gradient(circle at 1.4% 1.4% ,var(--color-5) 3%,transparent 40%),radial-gradient(circle at 5.5% 3%,var(--color-2) 40% ,transparent 75%),radial-gradient(circle at 2.5% 3.5%,var(--color-2) 25% ,transparent 45%)
  }
  .andelsbaren {
    font-family: sandoval;
    font-style: italic;
    letter-spacing: .3rem;
    text-transform: uppercase;
    color: #fff;
    padding-top: 13rem;
    font-size: 3rem
  }
  .sam {
    border-radius: 3rem;
    margin-bottom: 12rem;
    height: 80%;
    width: 40%
  }
  .omoss {
    font-size: 24px;
    letter-spacing: .3rem;
    text-align: left
  }
  .hr1 {
    border: 1px solid rgb(255, 255, 255);
    width: 100%
  }
}
.kop {
  margin-top: -.4rem;
  padding-top: .6rem ;
  padding-bottom: .6rem ;
  font-family: sandoval;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: gold;
  background-color: black;
  font-size: 2.5rem;
  border-bottom: 2px solid #fff
}


@media (min-width:320px){

  .feed{
    display: flex;
    margin-top: 9rem;
    justify-content: center;
    
    }

  .contactpage {
    width: 100%;
    height: 100%;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4% ,var(--color-5) 3%,transparent 30%),radial-gradient(circle at 5.5% 3%,var(--color-1) 30% ,transparent 45%),radial-gradient(circle at 2.5% 3.5%,var(--color-1) 25% ,transparent 45%)
  }

  .homepage {
    width: 100%;
    height: 100%;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4% ,var(--color-5) 3%,transparent 30%),radial-gradient(circle at 5.5% 3%,var(--color-1) 30% ,transparent 45%),radial-gradient(circle at 2.5% 3.5%,var(--color-1) 25% ,transparent 45%)
  }
  .mediapage{
  text-align: center;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 1.4% 1.4% ,var(--color-5) 3%,transparent 30%),radial-gradient(circle at 5.5% 3%,var(--color-1) 30% ,transparent 45%),radial-gradient(circle at 2.5% 3.5%,var(--color-1) 25% ,transparent 45%)
  }
  .aboutpage {
    width: 100%;
    height: 100%;
    text-align: center;
      background: radial-gradient(circle at 1.4% 1.4% ,var(--color-5) 3%,transparent 30%),radial-gradient(circle at 5.5% 3%,var(--color-1) 30% ,transparent 45%),radial-gradient(circle at 2.5% 3.5%,var(--color-1) 25% ,transparent 45%)
  }
  .servicespage {
    width: 100%;
    height: 100%;
    text-align: center;
      background: radial-gradient(circle at 1.4% 1.4% ,var(--color-5) 3%,transparent 30%),radial-gradient(circle at 5.5% 3%,var(--color-1) 30% ,transparent 45%),radial-gradient(circle at 2.5% 3.5%,var(--color-1) 25% ,transparent 45%)
  }
}
